*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #7a7a7a; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.logo-box {
  margin-left: 2rem;
  padding: 1rem; }
  .logo-box__logo {
    font-size: 2.4rem;
    color: #3369e7; }

.list {
  list-style: none;
  display: flex; }
  .list__item:not(:last-child) {
    margin-right: 1rem; }
  .list__link:link, .list__link:visited {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: #0af;
    font-size: 1.4rem; }
  .list__link:hover {
    color: #3369e7; }

.heading-primary {
  font-size: 4rem; }
  .heading-primary--light {
    color: #081b46; }
  .heading-primary--dark {
    color: #081b46; }

.heading-secondary {
  font-size: 1.4rem;
  color: #0af;
  text-transform: uppercase; }

.paragraph {
  width: 70%;
  font-size: 1.4rem;
  color: #7a7a7a;
  margin: 0 auto; }

.btn {
  padding: 1rem 2.5rem;
  border-radius: 100px;
  border: none;
  font-weight: 400;
  background-color: #3369e7;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s; }
  .btn--light {
    background-color: #0af; }
    .btn--light:focus {
      outline: none; }
  .btn--white {
    background-color: #fff;
    color: #3369e7;
    border: 1px solid #0af; }
    .btn--white:hover {
      background-color: #0af;
      color: #fff; }
  .btn--transparent {
    background-color: transparent;
    border: 1px solid #0af; }
    .btn--transparent:hover {
      background-color: #0af; }
  .btn:focus {
    outline: none; }

.about .image-box {
  float: left;
  position: relative;
  z-index: 1;
  width: 70%; }
  .about .image-box__image {
    height: 50rem; }

.about .text-box {
  padding: 4rem 4rem 4rem 8rem;
  position: absolute;
  top: 26rem;
  left: 50%;
  z-index: 2;
  background-color: #133ea1; }
  .about .text-box__paragraph {
    font-size: 1.4rem;
    color: #ffffffab; }

.about .cut-box {
  position: absolute;
  top: 45rem;
  left: 30%;
  height: 5rem;
  width: 70%;
  z-index: 3;
  background-color: #fff; }

.about .service-box {
  position: absolute;
  top: 90rem;
  left: 50rem;
  display: flex; }
  .about .service-box__sub {
    flex: 1;
    border: 0.2px solid #7c757541;
    background-color: #fff; }
    .about .service-box__sub a {
      padding: 3rem 5rem;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .about .service-box__sub a:hover svg {
        fill: #133ea1; }
      .about .service-box__sub a:hover span {
        color: #133ea1; }
    .about .service-box__sub svg {
      height: 4rem;
      width: 4rem;
      fill: #000000a9;
      margin-bottom: 3rem; }
    .about .service-box__sub span {
      font-size: 1.4rem;
      color: #000000ad;
      font-weight: 400;
      margin-bottom: 2rem; }

.reason {
  display: flex; }
  .reason .left {
    flex: 0 0 40%;
    padding: 2rem;
    color: #7a7a7a;
    padding-right: 20rem; }
    .reason .left__paragraph {
      font-size: 1.4rem; }
    .reason .left__exp-box {
      display: flex;
      flex-direction: column; }
      .reason .left__exp-box--number {
        font-size: 5rem;
        font-weight: 700;
        color: #0af; }
      .reason .left__exp-box--text {
        font-size: 1.4rem; }
  .reason .right {
    flex: 1;
    padding: 2rem;
    padding-right: 10rem; }
    .reason .right__paragraph {
      font-size: 1.4rem;
      color: #7a7a7a; }
    .reason .right h1 {
      font-size: 3.2rem; }

.image-box {
  flex: 0 0 45%; }
  .image-box__image {
    width: 100%;
    height: 80%; }

.service-details {
  flex: 1;
  background-color: #133ea1;
  height: 100%;
  padding: 20rem 20rem 5rem 5rem; }
  .service-details__heading-primary {
    font-size: 3rem;
    font-weight: 700;
    color: #fff; }
  .service-details__heading-secondary {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff; }
  .service-details__paragraph {
    font-size: 1.4rem;
    color: #ffffff80; }
  .service-details__icon {
    height: 5rem;
    width: 5rem;
    fill: #fff; }
  .service-details__div-1 {
    margin-right: 2rem; }
  .service-details__div-2 {
    display: flex;
    justify-content: space-between; }

.blog__header {
  margin-bottom: 4rem; }
  .blog__header-main {
    font-size: 2.8rem;
    color: #081b46; }
  .blog__header-sub {
    font-size: 1.4rem;
    font-weight: 700; }
    .blog__header-sub--black {
      color: #070707bb; }
    .blog__header-sub--blue {
      color: #0af; }

.blog__details {
  display: flex; }

.blog__details-box {
  display: flex;
  flex-direction: column; }
  .blog__details-box:not(:last-child) {
    margin-right: 2rem; }

.blog__date {
  font-size: 1.2rem;
  color: #3a3939a9; }

.blog__paragraph {
  font-size: 1.4rem;
  color: #07070780; }

.details-box {
  margin-right: 3rem;
  padding: 2rem 0;
  flex: 0 0 45%; }

.photo-box {
  background-size: cover; }
  .photo-box__image {
    height: 100%; }

.header {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.section-overview {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-overview .text-box {
    width: 50%;
    text-align: center; }

.section-about {
  position: relative;
  width: 85%;
  margin: 0 auto; }

.section-services {
  height: 65rem;
  margin-left: 10rem;
  display: flex;
  align-items: flex-end; }

.section-blogs {
  padding: 0 8rem;
  display: flex; }
  .section-blogs .blank {
    flex: 0 0 30%; }
  .section-blogs .blog {
    flex: 1; }

.section-why-us {
  padding: 0 8rem;
  display: flex; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 8rem; }
