//CLEARFIX
.clearfix::after {
   content: "";
   clear: both;
   display: table;
}

/////////////////////////////////
//////////LOGO
.logo-box {
   margin-left: 2rem;
   padding: 1rem;
   &__logo {
      font-size: 2.4rem;
      color: $color-primary-dark;
   }
}

/////////////////////////////////
//////////NAVBAR
.list {
   list-style: none;
   display: flex;
   &__item {
      &:not(:last-child) {
         margin-right: 1rem;
      }
   }

   &__link:link,
   &__link:visited {
      text-decoration: none;
      padding: 1rem 1.5rem;
      color: $color-primary-light;
      font-size: 1.4rem;
   }

   &__link:hover {
      color: $color-primary-dark;
   }
}

//////////////////////////////
/////////Textbox
.heading-primary {
   font-size: 4rem;
   &--light {
      color: $color-heading;
   }
   &--dark {
      color: $color-heading;
   }
}
.heading-secondary {
   font-size: 1.4rem;
   color: $color-primary-light;
   text-transform: uppercase;
}

.paragraph {
   width: 70%;
   font-size: 1.4rem;
   color: $color-grey-primary;
   margin: 0 auto;
}

//////////////////////////////
/////////BUTTON
.btn {
   padding: 1rem 2.5rem;
   border-radius: 100px;
   border: none;
   font-weight: 400;
   background-color: $color-primary-dark;
   color: #fff;
   cursor: pointer;
   transition: all 0.2s;

   &--light {
      background-color: $color-primary-light;
      &:focus {
         outline: none;
      }
   }

   &--white {
      background-color: #fff;
      color: $color-primary-dark;
      border: 1px solid $color-primary-light;
      &:hover {
         background-color: $color-primary-light;
         color: #fff;
      }
   }

   &--transparent {
      background-color: transparent;
      border: 1px solid $color-primary-light;
      &:hover {
         background-color: $color-primary-light;
      }
   }

   &:focus {
      outline: none;
   }
}

//////////////////////////////
/////////ABOUT
.about {
   .image-box {
      float: left;
      position: relative;
      z-index: 1;
      width: 70%;
      &__image {
         height: 50rem;
      }
   }

   .text-box {
      padding: 4rem 4rem 4rem 8rem;
      position: absolute;
      top: 26rem;
      left: 50%;
      z-index: 2;
      background-color: #133ea1;
      &__paragraph {
         font-size: 1.4rem;
         color: #ffffffab;
      }
   }

   .cut-box {
      position: absolute;
      top: 45rem;
      left: 30%;
      height: 5rem;
      width: 70%;
      z-index: 3;
      background-color: #fff;
   }

   .service-box {
      position: absolute;
      top: 90rem;
      left: 50rem;
      display: flex;
      &__sub {
         flex: 1;
         border: 0.2px solid #7c757541;
         background-color: #fff;
         a {
            padding: 3rem 5rem;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            &:hover svg {
               fill: #133ea1;
            }

            &:hover span {
               color: #133ea1;
            }
         }
         svg {
            height: 4rem;
            width: 4rem;
            fill: #000000a9;
            margin-bottom: 3rem;
         }
         span {
            font-size: 1.4rem;
            color: #000000ad;
            font-weight: 400;
            margin-bottom: 2rem;
         }
      }
   }
}

.reason {
   display: flex;
   .left {
      flex: 0 0 40%;
      padding: 2rem;
      color: $color-grey-primary;
      padding-right: 20rem;
      &__paragraph {
         font-size: 1.4rem;
      }

      &__exp-box {
         display: flex;
         flex-direction: column;
         &--number {
            font-size: 5rem;
            font-weight: 700;
            color: $color-primary-light;
         }
         &--text {
            font-size: 1.4rem;
         }
      }
   }
   .right {
      flex: 1;
      padding: 2rem;
      padding-right: 10rem;
      &__paragraph {
         font-size: 1.4rem;
         color: $color-grey-primary;
      }
      h1 {
         font-size: 3.2rem;
      }
   }
}

//////////////////////////////
/////////SERVICES
.image-box {
   flex: 0 0 45%;
   &__image {
      width: 100%;
      height: 80%;
   }
}

.service-details {
   flex: 1;
   background-color: #133ea1;
   height: 100%;
   padding: 20rem 20rem 5rem 5rem;
   &__heading-primary {
      font-size: 3rem;
      font-weight: 700;
      color: #fff;
   }

   &__heading-secondary {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
   }

   &__paragraph {
      font-size: 1.4rem;
      color: #ffffff80;
   }

   &__icon {
      height: 5rem;
      width: 5rem;
      fill: #fff;
   }
   &__div-1 {
      margin-right: 2rem;
   }

   &__div-2 {
      display: flex;
      justify-content: space-between;
   }
}

////////////////////////
///////////BLOG
.blog {
   &__header {
      margin-bottom: 4rem;
      &-main {
         font-size: 2.8rem;
         color: #081b46;
      }
      &-sub {
         font-size: 1.4rem;
         font-weight: 700;
         &--black {
            color: #070707bb;
         }
         &--blue {
            color: $color-primary-light;
         }
      }
   }

   &__details {
      display: flex;
   }

   &__details-box {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
         margin-right: 2rem;
      }
   }

   &__date {
      font-size: 1.2rem;
      color: #3a3939a9;
   }

   &__paragraph {
      font-size: 1.4rem;
      color: #07070780;
   }
}

/////////////////////////////
/////////WHY US
.details-box {
   margin-right: 3rem;
   padding: 2rem 0;
   flex: 0 0 45%;
}

.photo-box {
   background-size: cover;
   &__image {
      height: 100%;
   }
}
